@model LaboratoriAnalizav.Models.Terminet

@{
    ViewData["Title"] = "Details";

}

<div class="container">
    <div class="wrapper">
        <div class="profile-image">
            <img src="https://moleculah2o.com/wp-content/uploads/2017/09/laboratoare-pentru-analiza-apei.jpg" class="image">
        </div>
        <div class="profile-info">
            <div class="info">
                <table class="table table-striped table-hover">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Contact)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Startdate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Enddate)
                            </th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>

                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Contact)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Startdate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Enddate)
                            </td>
                            <td>
                                <a asp-action="Edit" class="edit" asp-route-id="@Model.Id"><i class="material-icons" data-toggle="tooltip">&#xE254;</i></a>
                                <a asp-action="Index" class="cancel"><i class="material-icons disabled_by_default">&#xf230;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>

