@model SendMailDto
@{
    ViewData["Title"] = "ContactUs";
}

<div class="container" id="contactus">
    <form asp-action="Create" method="post" id="create-form">
        @Html.AntiForgeryToken()
        <label asp-for="@Model.Name">First Name</label>
        <input type="text" asp-for="@Model.Name" id="fname" name="Name" placeholder="Your name..">
        <span class="text-danger" asp-validation-for="@Model.Name"></span>

        <label asp-for="@Model.LastName">Last Name</label>
        <input type="text" asp-for="@Model.LastName" id="lname" name="LastName" placeholder="Your last name..">
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>

        <label asp-for="@Model.Subject">Subject</label>
        <input type="text" asp-for="@Model.Subject" id="subject" name="Subject" placeholder="Your last subject..">
        <span class="text-danger" asp-validation-for="@Model.Subject"></span>


        <label asp-for="@Model.Message">Message</label>
        <textarea id="Message" asp-for="@Model.Message" name="Message" placeholder="Write something.." style="height:200px"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Message"></span>

        <input type="submit" value="Create">
    </form>
</div>
